google_calendar_id = "5fdsjhki234789sdfjk23478rg@group.calendar.google.com"
google_client_email = "ical2gcal@project-id.iam.gserviceaccount.com"
private_key_file = "secret.p12"
icalendar_feed = "https://host/path/to/feed.ics"

# Only sync events in the "Class" and "Seminar" categories:
include_categories = [ "Class", "Seminar" ]
# Ignore all events in the "Private" category:
exclude_categories = [ "Private" ]
